<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ msg.title }}</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }

        body {
            background: #fff;
        }

        div.main {
            width: 50%;
            border: 1px solid #ddd;
            border-right-color: #ccc;
            border-bottom-color: #ccc;
            padding: 20px;
            margin: 10px auto 0;
            background: #fff;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        h1 {
            background: #363636;
            color: #fff;
            font-size: 18px;
            line-height: 35px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 20px;
        }

    </style>
</head>

<body>
<div class="main">
    <h1>{{ msg.title|raw }}</h1>
    <p>{{ msg.line_1|raw }}</p>
    <p>{{ msg.line_2|raw }}</p>
</div>
</body>
</html>
